<div class="success-stories">
  <div class="success-block-content">
    <div class="success-text">
      <h1 style="line-height: 45px; text-align: center">
        <span
          style="
            font-weight: 900;
            font-family: Lato;
            font-size: 32px;
            color: rgb(45, 45, 45);
          "
          ><strong
            ><span style="font-style: normal">Success Stories</span></strong
          ></span
        >
      </h1>
    </div>
    <div class="success-div">
      <section class="center slider">
        <div>
          <%= image_tag("img1", size: "344x220", :alt => "sliderimg1",:class=>"img-slider") %>
        </div>
        <div>
          <%= image_tag("img2", size: "344x220", :alt => "sliderimg2",:class=>"img-slider") %>
         
        </div>
        <div>
          <%= image_tag("img3", size: "344x220", :alt => "sliderimg3",:class=>"img-slider")%>
        </div>
        <div>
          <%= image_tag("img4", size: "344x220", :alt => "sliderimg4",:class=>"img-slider")%>
        </div>
        <div>
          <%= image_tag("img5", size: "344x220", :alt => "sliderimg5",:class=>"img-slider") %>
        </div>
        <div>
          <%= image_tag("img6", size: "344x220", :alt => "sliderimg6",:class=>"img-slider") %>
        </div>
      </section>
    </div>
  </div>
</div>
