<%= render partial: '/funds/cards/header' %>
<h1>Funds are coming soon!</h1>
<%= render partial: '/funds/cards/third_block' %>
<%= render partial: '/funds/cards/footer' %>
<div class="container">
    <div id="fundraiser-content">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/header' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/first_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/second_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/third_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/fourth_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/fifth_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/sixth_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/seventh_block' %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= render partial: '/funds/cards/footer' %>
                </div>
            </div>
        </div>
    </div>
</div>
