<head>
  <title>Sign Up</title>
  
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>
  <body>
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html:{class:"login100-form validate-form"}) do |f| %>
            <span class="login100-form-title p-b-26") do |f| %>
            Sign Up
            </span>
            <span class="login100-form-title p-b-48">
						<i class="fa fa-user uicon" style="font-size:2em;"></i>
					</span>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field wrap-input100 validate-input">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input100" %>
    <span class="focus-input100" data-placeholder="Email"></span>
  </div>

  <div class="field wrap-input100 validate-input">
   <br />
    <%= f.password_field :password, autocomplete: "new-password",class:"input100" %>
    <span class="focus-input100" data-placeholder="Password  <% if @minimum_password_length %>
    (<%= @minimum_password_length %> characters minimum)
    <% end %>"></span>
  </div>

  <div class="field wrap-input100 validate-input">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input100"%>
    <span class="focus-input100" data-placeholder="Confirm Password"></span>
  </div>

  <div class="actcontainer-login100-form-btnions">
   <div class="wrap-login100-form-btn">
   <div class="login100-form-btn">
    <%= f.submit "Sign up" ,class:"btn btn-primary",data: {turbo: false},style:"background-color: #9c3353;"%>
  </div>
  </div>
  </div>
<% end %>
<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>
</div>
</div>
</div>

<%= render "users/shared/links" %>
</body>
